force-app/main/default/flows/uNI_EditStrategyLeads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Combined</name>
        <label>Get Combined</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>uNI_LeadContributorUser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SL_and_GAM_ids</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>combinedInput</name>
            <value>
                <elementReference>UserIdsListStr</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>uNI_EditStrategyLeads</stringValue>
            </value>
        </inputParameters>
        <nameSegment>uNI_LeadContributorUser</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>userIdValsFromApex</assignToReference>
            <name>userIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>userNamesfromApex</assignToReference>
            <name>userNames</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Added_Ids</name>
        <label>Added Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>addedIdsListStr</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Added_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addedIdsListStr</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Added_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Align_Other_user_Ids</name>
        <label>Align Other user Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UserIdsListStr</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Call.uNI_StrategyLeadIds__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserIdsListStr</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>@</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserIdsListStr</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>removeIdStr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserIdsListStr</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>@</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserIdsListStr</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>addedIdsListStr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Combined</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Users</name>
        <label>Assign Selected Users</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SelectedStrategyLeads</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_Strategy_Leads.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedRemovedUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Remove_Strategy_Leads.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Removed_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RemovedIds</name>
        <label>RemovedIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>removeIdStr</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Removed_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>removeIdStr</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Removed_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SL_and_GAM_ids</name>
        <label>SL and GAM ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SLandGAM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Call.uNI_DelegatedGAM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SLandGAM</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SLandGAM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>userIdValsFromApex</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_CFP_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>String_to_List_User</name>
        <label>String to List User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>userIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Call.uNI_StrategyLeadIds__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Call_Authors</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_CFP_status</name>
        <label>Check CFP status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Calls</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Match</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_Call.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New call in development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Calls</targetReference>
            </connector>
            <label>Status Match</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PPCrossCutting</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>uNI_PPforCrosscutting__c</picklistField>
        <picklistObject>FundingOpportunity</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PPDA</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>uNI_DiseaseAreas__c</picklistField>
        <picklistObject>FundingOpportunity</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PPGlobal</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>uNI_PPforCrosscutting__c</picklistField>
        <picklistObject>FundingOpportunity</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PPHIV</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>uNI_PPforHIV__c</picklistField>
        <picklistObject>FundingOpportunity</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PPMalaria</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>uNI_PPforMalaria__c</picklistField>
        <picklistObject>FundingOpportunity</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PPTB</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>uNI_PPforTB__c</picklistField>
        <picklistObject>FundingOpportunity</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PPWomenChild</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>uNI_PPWomenChildrensHealth__c</picklistField>
        <picklistObject>FundingOpportunity</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UserstoAllow</name>
        <collectionReference>get_users</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CleanedIds</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE(
  SUBSTITUTE(
    SUBSTITUTE(
      SUBSTITUTE(
        {!FinalFiles},
        &quot;[&quot;, &quot;&quot;
      ),
      &quot;]&quot;, &quot;&quot;
    ),
    &quot; &quot;, &quot;&quot;
  ),
  &quot;,,&quot;, &quot;,&quot;
),
&quot;,,&quot;,&quot;,&quot;)</expression>
    </formulas>
    <formulas>
        <name>FinalFiles</name>
        <dataType>String</dataType>
        <expression>{!ActionOwnerIds}+&apos;,&apos;+{!FileContentIds}</expression>
    </formulas>
    <formulas>
        <name>userIdsFromResponse</name>
        <dataType>String</dataType>
        <expression>TEXT(FIND({!userNames},&apos;@&apos;))</expression>
    </formulas>
    <interviewLabel>Edit Strategy Leads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Edit Strategy Leads</label>
    <loops>
        <name>Loop_Added_Ids</name>
        <label>Loop Added Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>SelectedStrategyLeads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Added_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Align_Other_user_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Removed_Ids</name>
        <label>Loop Removed Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>SelectedRemovedUsers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RemovedIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Added_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Admins</name>
        <label>get Admins</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Standard_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>System Administrator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Call</name>
        <label>get Call</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>String_to_List_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingOpportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Profile</name>
        <label>Get Standard Profile</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>uNI Standard User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_users</name>
        <label>get users</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Call</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Admins.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Standard_Profile.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Calls</name>
        <label>Copy 1 of Update Calls</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>msg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Call.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>uNI_ActionOwnerIds__c</field>
            <value>
                <elementReference>SLandGAM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_ListStrategyLeads__c</field>
            <value>
                <elementReference>userNamesfromApex</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_StrategyLeadIds__c</field>
            <value>
                <elementReference>userIdValsFromApex</elementReference>
            </value>
        </inputAssignments>
        <object>FundingOpportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Calls</name>
        <label>Update Calls</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>msg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Call.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>uNI_ListStrategyLeads__c</field>
            <value>
                <elementReference>userNamesfromApex</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_StrategyLeadIds__c</field>
            <value>
                <elementReference>userIdValsFromApex</elementReference>
            </value>
        </inputAssignments>
        <object>FundingOpportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Enter_Call_Authors</name>
        <label>Enter Call Authors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Selected_Users</targetReference>
        </connector>
        <fields>
            <name>ExistingLeadAuthors</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Below are the existing Strategy Leads&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!get_Call.uNI_ListStrategyLeads__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Add_Strategy_Leads</name>
            <choiceReferences>UserstoAllow</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Add Strategy Leads</fieldText>
            <fieldType>ComponentMultiChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Remove_Strategy_Leads</name>
            <choiceReferences>UserstoAllow</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Remove Strategy Leads</fieldText>
            <fieldType>ComponentMultiChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Please Select Users from Existing Strategy Leads</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>msg</name>
        <label>msg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(24, 221, 76);&quot;&gt;Call Authors Updated&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Admins</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActionOwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>addedIdsListStr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AllUserList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FileContentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalList1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadAuthorsNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ObjAPI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>FundingOpportunity</stringValue>
        </value>
    </variables>
    <variables>
        <name>PPcollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PPconcatenate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PPcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>removeIdStr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedRemovedUsers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedStrategyLeads</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SLandGAM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StrategyLeadNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userIdFromResponseStr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIdsListStr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userIdValsFromApex</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userNamesfromApex</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
