force-app/main/default/flows/uNI_Create_Flash_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_Budget_data_for_annual_report</name>
        <label>Clone Budget data for annual report</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>uNI_CreateExpensesForAnnualReport</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Annual_report_Fields_for_disbursment</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>annualReportId</name>
            <value>
                <elementReference>v_AnnualReportId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>individualApplicationId</name>
            <value>
                <elementReference>get_Individual_Application.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetYear</name>
            <value>
                <elementReference>ARYEAR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>version</name>
            <value>
                <elementReference>get_Individual_Application.uNI_LogframeVersion__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>uNI_CreateExpensesForAnnualReport</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>stop with the flow if the annual report is already present .</description>
        <name>is_annual_report_present</name>
        <label>is annual report present</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>get_grantee_user</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Annual_Report_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Annual_Report_of_current_year</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>adf</targetReference>
            </connector>
            <label>Annual Report Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_reprogramming_request_present</name>
        <label>is reprogramming request present before cutoff</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>asdfasdf</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Use Disbursement Budget</defaultConnectorLabel>
        <rules>
            <name>reprogramming_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Reprogramming_requests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asdfqw</targetReference>
            </connector>
            <label>reprogramming present</label>
        </rules>
    </decisions>
    <description>creates the new flash (semi annual) report</description>
    <environments>Default</environments>
    <formulas>
        <name>ARDueDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!get_Individual_Application.uNI_ImplementationStartDate__c}, 12 * {!get_Individual_Application.uNI_AnnualReportNumber__c})</expression>
    </formulas>
    <formulas>
        <name>ARPeriodEnd</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!get_Individual_Application.uNI_ImplementationStartDate__c}, 12 * {!get_Individual_Application.uNI_AnnualReportNumber__c})  - 1</expression>
    </formulas>
    <formulas>
        <name>ARPeriodStart</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!get_Individual_Application.uNI_ImplementationStartDate__c}, 12 * ({!get_Individual_Application.uNI_AnnualReportNumber__c} -1 ))</expression>
    </formulas>
    <formulas>
        <name>ARYEAR</name>
        <dataType>Number</dataType>
        <expression>YEAR({!ARPeriodStart})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ARYearTextfromIA</name>
        <dataType>String</dataType>
        <expression>TEXT({!get_Individual_Application.uNI_AnnualReportYear__c})</expression>
    </formulas>
    <formulas>
        <name>ReportYear</name>
        <dataType>Number</dataType>
        <expression>YEAR({!ARDueDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>v_CuttoffDate</name>
        <dataType>Date</dataType>
        <expression>DATE({!v_ReportCalenderYear},7,1)</expression>
    </formulas>
    <formulas>
        <description>Variable used for annual report Year computing.</description>
        <name>VarYearCounter</name>
        <dataType>String</dataType>
        <expression>&apos;Year_&apos;&amp;TEXT({!get_Individual_Application.uNI_AnnualReportNumber__c})</expression>
    </formulas>
    <interviewLabel>uNI Create Flash Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>uNI Create Flash Report</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create annual report with the latest IA data, logframe version</description>
        <name>Create_Annual_Report</name>
        <label>Create Flash Report</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>v_AnnualReportId</assignRecordIdToReference>
        <connector>
            <targetReference>get_Reprogramming_requests</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!get_Individual_Application.uNI_ProjectName__c}  - {!ARYearTextfromIA}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Flash_Report_record_type_id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_DueDate__c</field>
            <value>
                <elementReference>ARDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_FlashReportNumber__c</field>
            <value>
                <elementReference>get_Individual_Application.uNI_AnnualReportNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_Individual_Application__c</field>
            <value>
                <elementReference>get_Individual_Application.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_LogframeVersion__c</field>
            <value>
                <elementReference>get_Individual_Application.uNI_LogframeVersion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_PeriodEndDate__c</field>
            <value>
                <elementReference>ARPeriodEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_PeriodStartDate__c</field>
            <value>
                <elementReference>ARPeriodStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_ReportType__c</field>
            <value>
                <stringValue>Flash</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_RiskRegisterVersion__c</field>
            <value>
                <elementReference>get_Individual_Application.Risk_Register_Version__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_Year_to_report__c</field>
            <value>
                <elementReference>VarYearCounter</elementReference>
            </value>
        </inputAssignments>
        <object>uNI_Annual_Report__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Annual_Report_of_current_year</name>
        <label>Get Annual Report of current year</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_annual_report_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>uNI_Individual_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>uNI_Year_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Individual_Application.uNI_AnnualReportYear__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>uNI_ReportType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flash</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>uNI_Annual_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Flash_Report_record_type_id</name>
        <label>Get Flash Report record type id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Annual_Report_of_current_year</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flash Report</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_grantee_user</name>
        <label>get grantee user</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Annual_Report</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Individual_Application.uNI_GranteeContact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Individual_Application</name>
        <label>get Individual Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Flash_Report_record_type_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IndividualApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Reprogramming_requests</name>
        <label>get Reprogramming requests</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_reprogramming_request_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>uNI_Investment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>uNI_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>uNI_AnnualReportYear__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ARYearTextfromIA</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>uNI_ReprogrammingRequest__c</object>
        <sortField>uNI_ApprovedDate__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Annual_Report</name>
        <label>Update Annual Report</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_AnnualReportId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>uNI_BudgetFrom__c</field>
            <value>
                <stringValue>Reprogramming</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_LogframeVersion__c</field>
            <value>
                <elementReference>get_Reprogramming_requests.uNI_LogframeVersion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_PendingTask__c</field>
            <value>
                <stringValue>Draft annual report</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_ReprogrammingRequest__c</field>
            <value>
                <elementReference>get_Reprogramming_requests.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_WaitingForActionOwners__c</field>
            <value>
                <elementReference>get_grantee_user.Id</elementReference>
            </value>
        </inputAssignments>
        <object>uNI_Annual_Report__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Fill the related Disbursement so that we fetch the related Expense type records to generate the Budget AR tables</description>
        <name>Update_Annual_report_Fields_for_disbursment</name>
        <label>Update Annual report Fields for disbursment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_AnnualReportId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>uNI_BudgetFrom__c</field>
            <value>
                <stringValue>AR Budget</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_PendingTask__c</field>
            <value>
                <stringValue>Draft annual report</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_WaitingForActionOwners__c</field>
            <value>
                <elementReference>get_grantee_user.Id</elementReference>
            </value>
        </inputAssignments>
        <object>uNI_Annual_Report__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>adf</name>
        <label>adf</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>a1</name>
            <fieldText>&lt;p&gt;annual report present for the IA {!Get_Annual_Report_of_current_year.Id}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>asdfasdf</name>
        <label>asdf</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Clone_Budget_data_for_annual_report</targetReference>
        </connector>
        <fields>
            <name>adsf</name>
            <fieldText>&lt;p&gt;Disbursement path&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>asdfqw</name>
        <label>asdfqwe</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Annual_Report</targetReference>
        </connector>
        <fields>
            <name>re</name>
            <fieldText>&lt;p&gt;this path will not be used anymore since we are using the next best approach and the source of all the budget will be from the Approved budget of that year. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Reprogramming request path&lt;/p&gt;&lt;p&gt;the repprogrammmign request number&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!get_Reprogramming_requests.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!get_Reprogramming_requests.uNI_ApprovedDate__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Individual_Application</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_AnnualReportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_IndividialApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>1,2,3,,4... Annual report number.</description>
        <name>v_ProjectYearNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>eg.  2026</description>
        <name>v_ReportCalenderYear</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
