force-app/main/default/flows/uNI_Create_Annual_Report_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_Budget_data_for_annual_report</name>
        <label>Clone Budget data for annual report</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>uNI_CreateExpensesForAnnualReport</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Annual_report_Fields_for_disbursment</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>annualReportId</name>
            <value>
                <elementReference>v_AnnualReportId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>individualApplicationId</name>
            <value>
                <elementReference>get_Individual_Application.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetYear</name>
            <value>
                <elementReference>SelectedReportYearNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>version</name>
            <value>
                <elementReference>SelectedLogframeVersionForAR</elementReference>
            </value>
        </inputParameters>
        <nameSegment>uNI_CreateExpensesForAnnualReport</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>get_Reprogramming_requests</name>
        <label>get Reprogramming requests before cutoff</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>uNI_AnnualReportReprogrammingSelector</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>is_reprogramming_request_present</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>individualApplicationId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reportYear</name>
            <value>
                <elementReference>ARYearTextfromIA</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cutoffDate</name>
            <value>
                <elementReference>ARCutoffDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>uNI_AnnualReportReprogrammingSelector</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>as</name>
        <choiceText>asd</choiceText>
        <dataType>String</dataType>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>existing_annual_report</name>
        <label>existing annual report</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>is_selected_year_in_range</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_selected_AR.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Invalid_Year</targetReference>
            </connector>
            <label>Yes Present</label>
        </rules>
    </decisions>
    <decisions>
        <description>stop with the flow if the annual report is already present .</description>
        <name>is_annual_report_present</name>
        <label>is annual report present</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>get_grantee_user</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Annual_Report_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Annual_Report_of_current_year</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>adf</targetReference>
            </connector>
            <label>Annual Report Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_reprogramming_request_present</name>
        <label>is reprogramming request present before cutoff</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>asdfasdf</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Use Disbursement Budget</defaultConnectorLabel>
        <rules>
            <name>reprogramming_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Reprogramming_requests.logframeVersion</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asdfqw</targetReference>
            </connector>
            <label>reprogramming present</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_selected_year_in_range</name>
        <label>is selected year in range</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Invalid_Selected_Year</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Year</defaultConnectorLabel>
        <rules>
            <name>Selected_Year_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedReportYearNumber</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FirstSelectableYear</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedReportYearNumber</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>EndYear</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Annual_Report_of_current_year</targetReference>
            </connector>
            <label>Selected Year Valid</label>
        </rules>
    </decisions>
    <description>Annual Report that supports versioning and reprogramming logics.</description>
    <environments>Default</environments>
    <formulas>
        <name>ARDueDate</name>
        <dataType>Date</dataType>
        <expression>DATE({!SelectedReportYearNumber},12,31)</expression>
    </formulas>
    <formulas>
        <name>ARPeriodEnd</name>
        <dataType>Date</dataType>
        <expression>DATE({!SelectedReportYearNumber},12,31)</expression>
    </formulas>
    <formulas>
        <name>ARPeriodStart</name>
        <dataType>Date</dataType>
        <expression>DATE({!SelectedReportYearNumber},1,1)</expression>
    </formulas>
    <formulas>
        <description>Cutoff date for reprogramming eligibility (defaults to June 1 of the selected report year).</description>
        <name>ARCutoffDate</name>
        <dataType>Date</dataType>
        <expression>DATE({!SelectedReportYearNumber},6,1)</expression>
    </formulas>
    <formulas>
        <name>ARYEAR</name>
        <dataType>Number</dataType>
        <expression>{!SelectedReportYearNumber}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ARYearTextfromIA</name>
        <dataType>String</dataType>
        <expression>TEXT({!SelectedReportYearNumber})</expression>
    </formulas>
    <formulas>
        <name>SelectedLogframeVersionForAR</name>
        <dataType>String</dataType>
        <expression>IF({!get_Reprogramming_requests.logframeVersion}=&quot;0&quot;,{!get_Individual_Application.uNI_LogframeVersion__c},{!get_Reprogramming_requests.logframeVersion})</expression>
    </formulas>
    <formulas>
        <name>CurrentYear</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>EndYear</name>
        <dataType>Number</dataType>
        <expression>YEAR({!get_Individual_Application.uNI_ImplementationEndDate__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FirstSelectableYear</name>
        <dataType>Number</dataType>
        <expression>IF({!StartYear} &gt; {!CurrentYear},{!StartYear},{!CurrentYear})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SelectedReportNumber</name>
        <dataType>Number</dataType>
        <expression>({!SelectedReportYearNumber} - {!StartYear}) + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SelectedReportYearNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!annualreportchoice.selectedYear})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>StartYear</name>
        <dataType>Number</dataType>
        <expression>YEAR({!get_Individual_Application.uNI_ImplementationStartDate__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>v_CuttoffDate</name>
        <dataType>Date</dataType>
        <expression>DATE({!v_ReportCalenderYear},7,1)</expression>
    </formulas>
    <formulas>
        <description>Variable used for annual report Year computing.</description>
        <name>VarYearCounter</name>
        <dataType>String</dataType>
        <expression>&apos;Year_&apos;&amp;TEXT({!SelectedReportNumber})</expression>
    </formulas>
    <interviewLabel>uNI Create Annual Report 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>uNI Create Annual Report 1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create annual report with the latest IA data, logframe version</description>
        <name>Create_Annual_Report</name>
        <label>Create Annual Report</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>v_AnnualReportId</assignRecordIdToReference>
        <connector>
            <targetReference>get_Reprogramming_requests</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!get_Individual_Application.uNI_ProjectName__c}  - {!ARYearTextfromIA}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_AnnualReportNumber__c</field>
            <value>
                <elementReference>SelectedReportNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_DueDate__c</field>
            <value>
                <elementReference>ARDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_Individual_Application__c</field>
            <value>
                <elementReference>get_Individual_Application.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_LogframeVersion__c</field>
            <value>
                <elementReference>get_Individual_Application.uNI_LogframeVersion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_PeriodEndDate__c</field>
            <value>
                <elementReference>ARPeriodEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_PeriodStartDate__c</field>
            <value>
                <elementReference>ARPeriodStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_RiskRegisterVersion__c</field>
            <value>
                <elementReference>get_Individual_Application.Risk_Register_Version__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_Year_to_report__c</field>
            <value>
                <elementReference>VarYearCounter</elementReference>
            </value>
        </inputAssignments>
        <object>uNI_Annual_Report__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Annual_Report_of_current_year</name>
        <label>Get Annual Report of current year</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_annual_report_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>uNI_Individual_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>uNI_Year_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedReportYearNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>uNI_Annual_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_grantee_user</name>
        <label>get grantee user</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Annual_Report</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Individual_Application.uNI_GranteeContact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Individual_Application</name>
        <label>get Individual Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Annual_Report_Year</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IndividualApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    
    <recordLookups>
        <name>get_selected_AR</name>
        <label>get selected AR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>existing_annual_report</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>uNI_Individual_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>uNI_Year_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>annualreportchoice.selectedYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>uNI_Annual_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Annual_Report</name>
        <label>Update Annual Report</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_AnnualReportId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>uNI_BudgetFrom__c</field>
            <value>
                <stringValue>Reprogramming</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_LogframeVersion__c</field>
            <value>
                <elementReference>get_Reprogramming_requests.logframeVersion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_PendingTask__c</field>
            <value>
                <stringValue>Draft annual report</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_ReprogrammingRequest__c</field>
            <value>
                <elementReference>get_Reprogramming_requests.reprogrammingRequestId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_WaitingForActionOwners__c</field>
            <value>
                <elementReference>get_grantee_user.Id</elementReference>
            </value>
        </inputAssignments>
        <object>uNI_Annual_Report__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Fill the related Disbursement so that we fetch the related Expense type records to generate the Budget AR tables</description>
        <name>Update_Annual_report_Fields_for_disbursment</name>
        <label>Update Annual report Fields for disbursment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_AnnualReportId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>uNI_BudgetFrom__c</field>
            <value>
                <stringValue>AR Budget</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_PendingTask__c</field>
            <value>
                <stringValue>Draft annual report</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_WaitingForActionOwners__c</field>
            <value>
                <elementReference>get_grantee_user.Id</elementReference>
            </value>
        </inputAssignments>
        <object>uNI_Annual_Report__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>adf</name>
        <label>adf</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>a1</name>
            <fieldText>&lt;p&gt;Annual report already exists: &lt;a href=&quot;/{!Get_Annual_Report_of_current_year.Id}&quot; target=&quot;_blank&quot;&gt;{!Get_Annual_Report_of_current_year.Name}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>asdfasdf</name>
        <label>asdf</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Clone_Budget_data_for_annual_report</targetReference>
        </connector>
        <fields>
            <name>adsf</name>
            <fieldText>&lt;p&gt;Disbursement path&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>asdfqw</name>
        <label>asdfqwe</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Annual_Report</targetReference>
        </connector>
        <fields>
            <name>re</name>
            <fieldText>&lt;p&gt;this path will not be used anymore since we are using the next best approach and the source of all the budget will be from the Approved budget of that year.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Reprogramming request path&lt;/p&gt;&lt;p&gt;the repprogrammmign request number&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!get_Reprogramming_requests.reprogrammingRequestName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Copy_1_of_Invalid_Year</name>
        <label>Copy 1 of Copy 1 of Invalid Year</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_invalid_year_msg</name>
            <fieldText>&lt;p&gt;Annual report already present for this year. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invalid_Selected_Year</name>
        <label>Invalid Year</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Annual_Report_Year</targetReference>
        </connector>
        <fields>
            <name>invalid_year_msg</name>
            <fieldText>&lt;p&gt;{!SelectedReportYearNumber} is outside the allowed range ({!FirstSelectableYear} - {!EndYear}). Please select a valid year.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Annual_Report_Year</name>
        <label>Select Annual Report Year</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_selected_AR</targetReference>
        </connector>
        <fields>
            <name>select_year_help</name>
            <fieldText>&lt;p&gt;Select a year between {!FirstSelectableYear} and {!EndYear}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>annualreportchoice</name>
            <extensionName>c:uNI_AnnualReportPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Individual_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colYearChoice</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_AnnualReportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_IndividialApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>1,2,3,,4... Annual report number.</description>
        <name>v_ProjectYearNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>eg.  2026</description>
        <name>v_ReportCalenderYear</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
