force-app/main/default/flows/uNI_ReturnReprogrammingRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>clone_budgetdata</name>
        <label>clone budgetdata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>uNI_CloneBudgetData</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>clone_staff_allocation</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>individualApplicationId</name>
            <value>
                <elementReference>Get_Reprogramming.uNI_Investment__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceVersion</name>
            <value>
                <elementReference>Get_Reprogramming.uNI_Investment__r.uNI_LogframeVersion__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetVersion</name>
            <value>
                <elementReference>newLogframeVersion</elementReference>
            </value>
        </inputParameters>
        <nameSegment>uNI_CloneBudgetData</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>clone_Co_funding</name>
        <label>clone Co funding</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>uNI_CloneCoFunding</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>clone_budgetdata</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>individualApplicationId</name>
            <value>
                <elementReference>Get_Reprogramming.uNI_Investment__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reprogrammingRequestId</name>
            <value>
                <elementReference>Get_Reprogramming.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceVersion</name>
            <value>
                <elementReference>Get_Reprogramming.uNI_Investment__r.uNI_LogframeVersion__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetVersion</name>
            <value>
                <elementReference>newLogframeVersion</elementReference>
            </value>
        </inputParameters>
        <nameSegment>uNI_CloneCoFunding</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>clone_FE_rates</name>
        <label>clone FE rates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>uNI_CloneForeignExchangeRates</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>clone_Co_funding</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>individualApplicationId</name>
            <value>
                <elementReference>Get_Reprogramming.uNI_Investment__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceVersion</name>
            <value>
                <elementReference>Get_Reprogramming.uNI_Investment__r.uNI_LogframeVersion__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetVersion</name>
            <value>
                <elementReference>newLogframeVersion</elementReference>
            </value>
        </inputParameters>
        <nameSegment>uNI_CloneForeignExchangeRates</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>clone_logframe</name>
        <label>clone logframe</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>uNI_CloneLogframe</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_reprogramming_request</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>appendVersionToName</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logframeId</name>
            <value>
                <elementReference>get_old_logframe.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectYears</name>
            <value>
                <elementReference>Get_Reprogramming.uNI_ProjectYears__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>uNI_CloneLogframe</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varErrors</assignToReference>
            <name>errors</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varIndicatorsCloned</assignToReference>
            <name>indicatorsCloned</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varNewLogframeId</assignToReference>
            <name>newLogframeId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varOutcomesCloned</assignToReference>
            <name>outcomesCloned</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varOutputsCloned</assignToReference>
            <name>outputsCloned</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>clone_milestones</name>
        <label>clone milestones</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>uNI_CloneMilestone</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>clone_FE_rates</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>individualApplicationId</name>
            <value>
                <elementReference>Get_Reprogramming.uNI_Investment__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logframeId</name>
            <value>
                <elementReference>varNewLogframeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceVersion</name>
            <value>
                <elementReference>Get_Reprogramming.uNI_Investment__r.uNI_LogframeVersion__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetVersion</name>
            <value>
                <elementReference>newLogframeVersion</elementReference>
            </value>
        </inputParameters>
        <nameSegment>uNI_CloneMilestone</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>clone_staff_allocation</name>
        <label>clone staff allocation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>uNI_CloneStaffAllocations</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Success</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>individualApplicationId</name>
            <value>
                <elementReference>Get_Reprogramming.uNI_Investment__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceVersion</name>
            <value>
                <elementReference>Get_Reprogramming.uNI_Investment__r.uNI_LogframeVersion__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetVersion</name>
            <value>
                <elementReference>newLogframeVersion</elementReference>
            </value>
        </inputParameters>
        <nameSegment>uNI_CloneStaffAllocations</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Cancel_Reprogramming</name>
        <choiceText>Cancel Reprogramming</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel Reprogramming</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProceedWithReprogramming</name>
        <choiceText>Proceed With Reprogramming</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proceed With Reprogramming</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Accept_or_Return</name>
        <label>Accept or Return</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>update_Reprogramming_Return</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accept</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Proceed_With_Reprogramming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProceedWithReprogramming</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Reprogramming_Accept</targetReference>
            </connector>
            <label>Accept</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_material_EB</name>
        <label>is material EB</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>s</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Material_EB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reprogramming.uNI_TypeOfReprogramming__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Material (EB)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Proceed_With_Reprogramming1</targetReference>
            </connector>
            <label>Material EB</label>
        </rules>
    </decisions>
    <description>UAT removed uni headers.</description>
    <environments>Default</environments>
    <formulas>
        <name>newLogframeVersion</name>
        <dataType>String</dataType>
        <expression>TEXT(VALUE({!get_IA.uNI_LogframeVersion__c}) + 1)</expression>
    </formulas>
    <formulas>
        <name>PMPOs</name>
        <dataType>String</dataType>
        <expression>{!get_IA.uNI_ProjectManagerUserIds__c} &amp; &quot;,&quot; &amp;{!get_IA.uNI_ProgramOfficerUserIds__c}</expression>
    </formulas>
    <interviewLabel>uNI Return Reprogramming Requet {!$Flow.CurrentDateTime}</interviewLabel>
    <label>uNI Return Reprogramming Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_IA</name>
        <label>get IA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_material_EB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reprogramming.uNI_Investment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IndividualApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_old_logframe</name>
        <label>get old logframe</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>clone_logframe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>uNI_Individual_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reprogramming.uNI_Investment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>uNI_LogframeVersion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reprogramming.uNI_Investment__r.uNI_LogframeVersion__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>uNI_Logframe__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reprogramming</name>
        <label>Get Reprogramming</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_IA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>uNI_ReprogrammingRequest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Reprogramming_Accept</name>
        <label>update Reprogramming Accept</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_old_logframe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>uNI_CurrentActionOwner__c</field>
            <value>
                <stringValue>PM/PO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_CurrentPendingTask__c</field>
            <value>
                <stringValue>Complete Project Paramters</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_Stage__c</field>
            <value>
                <stringValue>Stage 1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_Status__c</field>
            <value>
                <stringValue>PT Accept Material EB Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_WaitingForActionOwners__c</field>
            <value>
                <elementReference>PMPOs</elementReference>
            </value>
        </inputAssignments>
        <object>uNI_ReprogrammingRequest__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_reprogramming_request</name>
        <label>update reprogramming request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>clone_milestones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>uNI_ActionName__c</field>
            <value>
                <stringValue>Reprogramming Request In Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_LogframeVersion__c</field>
            <value>
                <elementReference>newLogframeVersion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_Logframe__c</field>
            <value>
                <elementReference>varNewLogframeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_PendingActionOwner__c</field>
            <value>
                <elementReference>Get_Reprogramming.uNI_Investment__r.uNI_LeadImplementerId__c</elementReference>
            </value>
        </inputAssignments>
        <object>uNI_ReprogrammingRequest__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reprogramming_Requests</name>
        <label>Update Reprogramming Requests</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>uNI_ActionName__c</field>
            <value>
                <stringValue>Reprogramming Request Returned With Comments</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_CommentsforImplementer__c</field>
            <value>
                <elementReference>Comments_for_Implementer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_CurrentActionOwner__c</field>
            <value>
                <stringValue>Implementer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_PendingActionOwner__c</field>
            <value>
                <elementReference>get_IA.uNI_LeadImplementerId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_Status__c</field>
            <value>
                <stringValue>Returned</stringValue>
            </value>
        </inputAssignments>
        <object>uNI_ReprogrammingRequest__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Reprogramming_Return</name>
        <label>update Reprogramming Return</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>uNI_ActionName__c</field>
            <value>
                <stringValue>Reprogramming Request returned. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_CurrentActionOwner__c</field>
            <value>
                <stringValue>Implementer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_CurrentPendingTask__c</field>
            <value>
                <stringValue>Draft Reprogramming Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_Stage__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uNI_WaitingForActionOwners__c</field>
            <value>
                <elementReference>Get_Reprogramming.uNI_Investment__r.uNI_PreGrantee__c</elementReference>
            </value>
        </inputAssignments>
        <object>uNI_ReprogrammingRequest__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Copy_1_of_Success</name>
        <label>Copy 1 of Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>refresh</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_d1</name>
            <fieldText>&lt;p&gt;Reprogramming Request &lt;strong&gt;{!Get_Reprogramming.Name}&lt;/strong&gt; Accepted proceed for Stage 1.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Copy_1_of_Success</name>
        <label>Copy 2 of Copy 1 of Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>returnreq</name>
            <fieldText>&lt;p&gt;Reprogramming Request &lt;strong&gt;{!Get_Reprogramming.Name}&lt;/strong&gt; Returned to Implementer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Proceed_With_Reprogramming1</name>
        <label>Proceed With Reprogramming?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Accept_or_Return</targetReference>
        </connector>
        <fields>
            <name>Proceed_With_Reprogramming</name>
            <choiceReferences>ProceedWithReprogramming</choiceReferences>
            <choiceReferences>Cancel_Reprogramming</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Proceed With Reprogramming?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Comments_for_Implementer1</name>
            <fieldText>Comments for Implementer</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Proceed_With_Reprogramming</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Cancel_Reprogramming</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>refresh</name>
        <label>refrsh</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>refreshc</name>
            <extensionName>c:uNI_NavigateRec</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isHomePageRefresh</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s</name>
        <label>s</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Reprogramming_Requests</targetReference>
        </connector>
        <fields>
            <name>d1</name>
            <fieldText>&lt;p&gt;Are you sure want to return the Reprogramming Request &lt;strong&gt;{!Get_Reprogramming.Name}&lt;/strong&gt; to implementer ? &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Comments_for_Implementer</name>
            <fieldText>Comments for Implementer</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Return</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_d1</name>
            <fieldText>&lt;p&gt;Returned Reprogramming Request &lt;strong&gt;{!Get_Reprogramming.Name}&lt;/strong&gt; to implementer successfully. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Reprogramming</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newreprogrammingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varErrors</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIndicatorsCloned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varNewLogframeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOutcomesCloned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varOutputsCloned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
